.message-item {
margin-bottom: 10px;
margin-left: 40px;
position: relative;
width: 80%;
}
.message-item .message-inner {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px;
    position: relative;
    color:rgba(35, 66, 97, 0.74);
    word-wrap: break-word;
    line-height: 20px;
}
/**/
.message-item .message-inner:before {
border-right: 10px solid #ddd;
border-style: solid;
border-width: 10px;
color: rgba(0,0,0,0);
content: "";
display: block;
height: 0;
position: absolute;
left: -20px;
top: 6px;
width: 0;
}
.message-item .message-inner:after {
border-right: 10px solid #fff;
border-style: solid;
border-width: 10px;
color: rgba(0,0,0,0);
content: "";
display: block;
height: 0;
position: absolute;
left: -18px;
top: 6px;
width: 0;
}
.message-item:before {
    background: rgb(255, 155, 0);;
    border-radius: 2px;
    bottom: -30px;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    content: "";
    height: 100%;
    left: -30px;
    position: absolute;
    width: 3px;}

.message-item:after {
background: rgb(255, 155, 0);
border: 2px solid rgb(41, 97, 21);
border-radius: 50%;
box-shadow: 0 0 5px rgba(0,0,0,0.1);
content: "";
height: 15px;
left: -36px;
position: absolute;
top: 10px;
width: 15px;
}
.clearfix:before, .clearfix:after {
content: " ";
display: table;
}
.message-item .message-head {/*border-bottom: 1px solid #eee;*/margin-bottom: 3px;/* padding-bottom: 8px; */}
.message-item .message-head .avatar {margin-right: 10px;}
.message-item .message-head .user-detail {
overflow: hidden;
}
.message-item .message-head .user-detail h5 {
font-weight: bold;
margin: 0;
color:rgb(31, 185, 177);
display:inline;
}
.message-item .message-head .user-detail div.pull-right {
    font-size:0.85em;
    }

.message-item .message-head .post-meta {font-size: 10px;float: left;padding: 0 15px 0 0;}
.message-item .message-head .post-meta >div {
color: #333;
font-weight: bold;
text-align: right;
}
.post-meta > div {
color: #777;
font-size: 12px;
line-height: 22px;
}
.message-item .message-head .post-meta >div {
color: #333;
font-weight: bold;
text-align: right;
}
.post-meta > div {
color: #777;
font-size: 12px;
line-height: 22px;
}
img.chatimg {
 min-height: 20px;
 max-height: 20px;
}
#scroll-to-top-msg{
    word-break:normal;
    margin-top:20px;
    float: right;
    padding:5px;
    width:100px;
    line-height:30px;
    background:rgba(255, 69, 0, 0.81);
    border-radius:5px;
    text-align:center;
    color:white;
    cursor:pointer;
}

.msg-input {
    margin-bottom:0px;
    width:75%;
    display:inline;
    margin-top: 10px;
    margin-left:10px;
}
.global-msg-input{
    margin-bottom:0px;
    width:70%;
    display:inline;
    margin-top: 10px;
    margin-left:10px;
}
.clan-etabs.span10.offset1 {
    margin-bottom:0px;
}
.send-msg-btn {
         min-width: 35px;
    min-height: 25px;
    /* background: url(../images/send.png); */
    background-size: 30px 30px;
    background-repeat: no-repeat;
    float: right;
    margin-right: 5px;
    margin-top: 15px;
    display: none;
    background-color: lightskyblue;
    border-radius: 2px;
    padding-right: 5px;
    padding-left: 5px;
}

.send-global-msg-btn{
    min-width: 35px;
    min-height: 25px;
   
    background-size: 30px 30px;
    
    float: right;
    margin-right: 30px;
    margin-top: 15px;
    background-color: lightskyblue;
    border-radius: 2px;
    padding-right: 5px;
    padding-left: 5px;
}
.MessageDiv:first-child{
    margin-top:10px;
}
.global-messages:first-child{
    margin-top:10px;
}
@media (min-width: 1140px) {

    .slide-pannel{

        max-width:40%!important;

    }



}


