div#mainContainer {
    min-height: 700px;
}

a.bet {
    background-color: orangered !important;
    color: #eee !important;
}

a.closed {
    background: #FF0!important;
}

a.odd {
    cursor: pointer;
    padding: 1px 2px;
    margin: 1px;
    background-color: #eee;
    color: #222;
}

a.greyed {
    color: #222 !important;
    cursor: no-drop;
}

tr.greyed {
    cursor: no-drop;
}

.orangered {
    color: orangered;
}

#mainHeader {
    font-size: 20px;
    height: 25px;
}

span.credit {
    background: url('style/images/credit.png') no-repeat;
    background-position-x: right;
    height: 25px;
    width: 40px;
    float: right;
}

.input-large {
    width: 350px !important;
    height: 35px !important;
    margin-right: 10px !important;
}