div#mainContainer {
    min-height: 700px;
}

a.bet {
    background-color: orangered !important;
    color: #eee !important;
}

a.odd {
    cursor: pointer;
    padding: 1px 2px;
    margin: 1px;
    background-color: #eee;
    color: #222;
}

a.unbet {
    
}

.alert-error {
    color: orangered;
}