div#mainContainer {
    min-height: 700px;
}

a.bet {
    background-color: orangered !important;
    color: #eee !important;
}

a.closed {
    background: #FF0!important;
}

a.odd {
    cursor: pointer;
    padding: 1px 2px;
    margin: 1px;
    background-color: #eee;
    color: #222;
}

a.greyed {
    color: #222 !important;
    cursor: no-drop;
}

tr.greyed {
    cursor: no-drop;
}

.orangered {
    color: orangered;
}

#mainHeader {
    /*font-size: 20px;
    height: 25px;*/
}

span.credit {
    background: url('style/images/credit.png') no-repeat;
    background-position-x: right;
    height: 25px;
    width: 40px;
    float: right;
}

.input-large {
    width: 350px !important;
    height: 35px !important;
    margin-right: 10px !important;
}

tr.leader {
    background: rgba(250, 250, 100, 0.6);
}

table#clan-table {
    cursor: pointer;
}

span.card {
    margin-left: 3px;
    margin-right: 3px;
}

td.center {
    text-align: center;
}

img.logo {
    margin-bottom: 20px;
}

span.creditBall {
    width: 25px;
    height: 25px;
    background: url('../images/credit.png') no-repeat;
    background-position-x: right;
    float: right;
}

span.header-margin{
    margin-left: 5px;
}

a.header-margin{
    margin-left: 10px;
}

.progress-bar-blue {
    background-color: #5bc0de;
}

.progress-bar-green {
    background-color: #5cb85c;
}

.progress-bar-orange {
    background-color: #f0ad4e;
}

.progress-bar-red {
    background-color: #d9534f;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

span.userCredit {
        float: right;
}

img.desaturate { 
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

img.avatars {
    height: 100px;
    margin-left: 15px;
    margin-top: 5px;
}

i.gold {
    color: #d4af37;
    vertical-align: baseline;
}

i.silver {
    color: #c0c0c0;
}

i.bronze {
    color: #cd7f32;
}

span.cups {
    margin: 0px 20px;
}

tr.extra {
    background-color: lightgoldenrodyellow;
}

.btn-group-justified {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 10px;
}

.btn-group-justified>.btn, .btn-group-justified>.btn-group {
    display: table-cell;
    float: none;
    width: 1%;
}

.dNone {
    display: none;
}

select.TG {
    height: 40px !important;
    width: 80px !important;
    display: block;
    margin: auto;
    font-size: 25px;
}

select.CS {
    height: 40px !important;
    width: 90px !important;
    display: block;
    margin: auto;
    font-size: 25px;
}

.disabledGames {
    opacity: 0.6;
}

.mSealed {
    opacity: 0.6;
    cursor: not-allowed;
}

table.table-hover {
    cursor: pointer;
}

.lbFav {
    font-size: 20px;
    color: gold;
}

tr.self {
    background-color: lightgoldenrodyellow;
}

table.trophies {
    width: 100%;
}

table.trophies tr:first-child {
    background: url('../images/trophytop.png') no-repeat;
    background-size: 100% 100%;
}

table.trophies tr:last-child {
    background: url('../images/trophybottom.png') no-repeat;
    background-size: 100% 100%;
}

table.trophies tr {
    background: url('../images/trophyrow.png') no-repeat;
    background-size: 100% 100%;
    height: 100px;
}

.mDetails {
    background-color: lightgoldenrodyellow;
}

.menu ul li {
    border-top-width: 0px !important;
}

.modal.fade.in {
    height: 80%;
    margin-top: 0px !important;
}

.img-responsive {
    margin: 0 auto;
}

table.clans {
    width: 100%;
}

.clans td {
    padding: 10px 0;
}

.wonGame {
    color: #0db14b;
    vertical-align: baseline;
    margin-left: 5px;
}

.lostGame {
    color: #ef4b22;
    vertical-align: baseline;
    margin-left: 5px;
}