.pricing .span4:nth-Child(3n+1) {
    margin-left: 0px;
}

.description{
    font-size: 15px;
    color: wheat;
    text-align: center;
}
.cssload-loader {
	width: 146px;
	height: 146px;
	line-height: 146px;
	margin: 49px auto;
	position: relative;
    margin-top:35vh;
	box-sizing: border-box;
	text-align: center;
    color:orangered;
    font-size:12px;
	z-index: 0;
	text-transform: uppercase;
		-o-text-transform: uppercase;
		-ms-text-transform: uppercase;
		-webkit-text-transform: uppercase;
		-moz-text-transform: uppercase;
}

.cssload-loader:before,
.cssload-loader:after {
	opacity: 0;
	box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	content: "\0020";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 97px;
	border: 5px solid rgb(0,0,0);
	box-shadow: 0 0 49px rgb(0,0,0), inset 0 0 49px rgb(0,0,0);
		-o-box-shadow: 0 0 49px rgb(0,0,0), inset 0 0 49px rgb(0,0,0);
		-ms-box-shadow: 0 0 49px rgb(0,0,0), inset 0 0 49px rgb(0,0,0);
		-webkit-box-shadow: 0 0 49px rgb(0,0,0), inset 0 0 49px rgb(0,0,0);
		-moz-box-shadow: 0 0 49px rgb(0,0,0), inset 0 0 49px rgb(0,0,0);
}

.cssload-loader:after {
	z-index: 1;
	animation: cssload-gogoloader 2.3s infinite 1.15s;
		-o-animation: cssload-gogoloader 2.3s infinite 1.15s;
		-ms-animation: cssload-gogoloader 2.3s infinite 1.15s;
		-webkit-animation: cssload-gogoloader 2.3s infinite 1.15s;
		-moz-animation: cssload-gogoloader 2.3s infinite 1.15s;
}

.cssload-loader:before {
	z-index: 2;
	animation: cssload-gogoloader 2.3s infinite;
		-o-animation: cssload-gogoloader 2.3s infinite;
		-ms-animation: cssload-gogoloader 2.3s infinite;
		-webkit-animation: cssload-gogoloader 2.3s infinite;
		-moz-animation: cssload-gogoloader 2.3s infinite;
}



@keyframes cssload-gogoloader {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 0;
	}
}

@-o-keyframes cssload-gogoloader {
	0% {
		-o-transform: scale(0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		-o-transform: scale(1);
		opacity: 0;
	}
}

@-ms-keyframes cssload-gogoloader {
	0% {
		-ms-transform: scale(0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		-ms-transform: scale(1);
		opacity: 0;
	}
}

@-webkit-keyframes cssload-gogoloader {
	0% {
		-webkit-transform: scale(0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(1);
		opacity: 0;
	}
}

@-moz-keyframes cssload-gogoloader {
	0% {
		-moz-transform: scale(0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		-moz-transform: scale(1);
		opacity: 0;
	}
}







div#paginationCompetation div,div#paginationGlobal div {
    margin:4px;
   cursor:pointer;
    padding-left:7px;
    padding-right:7px;
    border-radius:5px;
    padding-bottom:2px;
    padding-top:2px;
}
#firstpage,#firstpageGlobal,#lastpageGlobal{
    background-color:orange;
}
#mypage,#mypageGlobal{
   
    background:white;
}
#previous, #next,#nextGlobal,#previousGlobal{
    background:orange;
}

a.bet {
    background-color: orangered !important;
    color: #eee !important;
}

a.closed {
    background: #FF0 !important;
}

a.odd {
    cursor: pointer;
    padding: 1px 2px;
    margin: 1px;
    background-color: #eee;
    color: #222;
}

a.greyed {
    color: #222 !important;
    cursor: no-drop;
}

tr.greyed {
    cursor: no-drop;
}

.orangered {
    color: orangered;
}

#mainHeader {
    /*font-size: 20px;
    height: 25px;*/
    background:rgba(0, 0, 0, 0.19);
}
.well{
    background:transparent;
}

span.credit {
    background: url('style/images/credit.png') no-repeat;
    background-position-x: right;
    height: 25px;
    width: 40px;
    float: right;
}

.input-large {
    width: 350px !important;
    height: 35px !important;
    margin-right: 10px !important;
}

tr.leader {
    background: rgba(255,215,0,0.6);
}

table#clan-table {
    cursor: pointer;
}

/** table clan toggle*/

table.manage-clan thead tr th:last-child,table.manage-clan tbody tr td:last-child,.leave-clan{
    display:none;
}
table.manage-clan thead tr th:first-child,table.manage-clan tbody tr td:first-child{
    display:table-cell;
}
table.manage-clan thead tr th:nth-child(3){
    border-top-right-radius:10px;
}
table.manage-clan tbody tr:last-child td:nth-child(3){
    border-bottom-right-radius:10px;
}
.not-approved{
    background-color:lightcoral;
}

/* /table clan toggle*/
span.card {
    margin-left: 3px;
    margin-right: 3px;
}

td.center {
    text-align: center;
}

img.logo {
    margin-bottom: 20px;
}

span.creditBall {
    width: 20px;
    height: 20px;
    background: url('../images/credit.svg') no-repeat;
    background-position-x: right;
    float: right;
    margin-right: 10px;
    background-size: 20px 20px;
}

span.footBall {
    width: 20px;
    height: 20px;
    background: url('../images/credit2.svg') no-repeat;
    background-position-x: right;
    float: right;
    margin-right: 10px;
    background-size: 20px 20px;
}

span.header-margin {
    margin-left: 5px;
}

a.header-margin {
    margin-left: 10px;
}

.progress-bar-blue {
    background-color: #5bc0de;
}

.progress-bar-green {
    background-color: #5cb85c;
}

.progress-bar-orange {
    background-color: #f0ad4e;
}

.progress-bar-red {
    background-color: #d9534f;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

span.userCredit {
    float: right;
}

img.desaturate {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

img.avatars {
    height: 100px;
    margin-left: 15px;
    margin-top: 5px;
}

i.gold {
    color: #d4af37;
    vertical-align: baseline;
}

i.silver {
    color: #c0c0c0;
}

i.bronze {
    color: #cd7f32;
}

span.cups {
    margin: 0px 20px;
}

tr.extra {
    background-color: lightgoldenrodyellow;
}

.btn-group-justified {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 10px;
}

    .btn-group-justified > .btn, .btn-group-justified > .btn-group {
        display: table-cell;
        float: none;
        width: 1%;
    }

.dNone {
    display: none;
}

select.TG {
    height: 40px !important;
    width: 80px !important;
    display: block;
    margin: auto;
    font-size: 25px;
}

select.CS {
    height: 40px !important;
    width: 90px !important;
    display: block;
    margin: auto;
    font-size: 25px;
}

.disabledGames {
    opacity: 0.6;
}

.mSealed {
    opacity: 0.6;
    cursor: not-allowed;
}

table.table-hover {
    cursor: pointer;
}

.livescore-table tbody tr td:first-child, .livescore-table tbody tr td:last-child  {
    text-align:center;
}

/*
#livescore-table tbody tr:first-child {
    background-color:rgba(111, 222, 37, 0.26);
}
#livescore-table tbody tr:nth-child(3){
    background-color:rgba(47, 177, 117, 0.38);
}
#livescore-table tbody tr:nth-child(5){
    background-color:rgba(200, 247, 197, 0.27);
}
#livescore-table tbody tr:nth-child(n+7):nth-child(-2n+13){
    background-color:rgba(197, 239, 247, 0.62);
}
#livescore-table tbody tr:nth-child(n+14):nth-child(-2n+19){
    background-color:rgba(197, 239, 247, 0.77);
}
#livescore-table tbody tr:nth-child(n+20):nth-child(-2n+47){
    background-color:rgba(236, 236, 236, 0.73);
}
#livescore-table tbody tr:nth-child(n+48):nth-child(-2n+99){
    background-color:rgba(210, 215, 211, 0.68);
}
*/
#fTbl thead,#clan-table thead,.livescore-table thead,#uTbl thead,#cTbl thead,#cltable thead{
    background: rgba(0,0,0,0.3);
    color: white;

}
#fTbl thead tr th,#clan-table thead tr th,.livescore-table thead tr th,#uTbl thead,#cTbl thead.#cltable thead tr th{
    text-align:center!important;
}
#fTbl thead th:last-child,#clan-table thead th:last-child,.livescore-table thead th:last-child,#uTbl thead th:last-child,#cTbl thead th:last-child,#cltable thead th:last-child{
    border-radius: 0 10px 0 0;
}
#fTbl thead th:first-child,#clan-table thead th:first-child,.livescore-table thead th:first-child,#uTbl thead th:first-child,#cTbl thead th:first-child,#cltable thead th:first-child{
    border-radius: 10px 0 0 0;
}
#fTbl tbody tr:last-child td:first-child, #clan-table tbody tr:last-child td:first-child,.livescore-table tbody tr:last-child td:first-child,#uTbl tbody tr:last-child td:first-child,#cTbl tbody tr:last-child td:first-child,#cltable tbody tr:last-child td:first-child{
    border-radius: 0 0 0 10px;
}
#fTbl tbody tr:last-child td:last-child ,#clan-table tbody tr:last-child td:last-child,.livescore-table tbody tr:last-child td:last-child,#uTbl tbody tr:last-child td:last-child,#cTbl tbody tr:last-child td:last-child,#cltable tbody tr:last-child td:last-child{
    border-radius: 0 0 10px 0;
}
#fTbl tbody,#clan-table tbody,.livescore-table tbody,#uTbl tbody,#cTbl tbody,#cltable tbody{
   background-color:rgba(215, 255, 159, 0.68);
}


.lbFav {
    font-size: 20px;
    color: gold;
}

tr.self {
    background-color: lightgoldenrodyellow;
}

table.trophies {
    width: 100%;
    
}

    table.trophies tr:first-child {
        background: url('../images/trophytop.png') no-repeat;
        background-size: 100% 100%;
    }

    table.trophies tr:last-child {
        background: url('../images/trophybottom.png') no-repeat;
        background-size: 100% 100%;
    }

    table.trophies tr {
        background: url('../images/trophyrow.png') no-repeat;
        background-size: 100% 100%;
        height: 100px;
        display:-webkit-box;
    }

.mDetails {
    background-color: lightgoldenrodyellow;
}

.menu ul li {
    border-top-width: 0px !important;
}

.modal.fade.in {
    height: 80%;
    margin-top: 0px !important;
}

.img-responsive {
    margin: 0 auto;
    display: block;
    /*max-width: 20px;*/
}

.fill {
    max-width: 20px;
    
}

table.clans {
    width: 100%;
}

.clans td {
    padding: 10px 0;
}

.wonGame {
    color: #0db14b;
    vertical-align: baseline;
    margin-left: 5px;
}

.lostGame {
    color: #ef4b22;
    vertical-align: baseline;
    margin-left: 5px;
}

h3.todays {
    text-align: center;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    background-color: rgb(255, 183, 77);
    font-style: italic;
    border-radius: 20px;
    margin-bottom:25px;
}
h3.todays img{
    float: right;
    margin-top: -3px;
}
#tblContainer h3 {
    text-align: center;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    background-color: rgb(255, 183, 77);
    font-style: italic;
    border-radius: 20px;
    margin-bottom:25px;
}

th {
    /*text-align: inherit !important;*/
}

#match-table td {
    /*text-align: center !important;*/
}

.modal {
    position: fixed;
    top: 3%;
    right: 3%;
    left: 3%;
    width: auto;
    margin: 0;
    overflow-y: scroll;
}

.modal-body {
    max-height: 60%;
    padding: 15px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

/*FLAGS*/
span.argentina {
    background: url(../images/states/argentina.svg);
}

span.australia {
    background: url(../images/states/australia.svg);
}

span.belgium {
    background: url(../images/states/belgium.svg);
}

span.brasil {
    background: url(../images/states/brasil.svg);
}

span.china {
    background: url(../images/states/china.svg);
}

span.denmark {
    background: url(../images/states/denmark.svg);
}

span.england {
    background: url(../images/states/england.svg);
}

span.france {
    background: url(../images/states/france.svg);
}

span.germany {
    background: url(../images/states/germany.svg);
}

span.greece {
    background: url(../images/states/greece.svg);
}

span.holland {
    background: url(../images/states/holland.svg);
}

span.italy {
    background: url(../images/states/italy.svg);
}

span.mexico {
    background: url(../images/states/mexico.svg);
}

span.norway {
    background: url(../images/states/norway.svg);
}

span.poland {
    background: url(../images/states/poland.svg);
}

span.portugal {
    background: url(../images/states/portugal.svg);
}

span.russia {
    background: url(../images/states/russia.svg);
}

span.scotland {
    background: url(../images/states/scotland.svg);
}

span.spain {
    background: url(../images/states/spain.svg);
}

span.sweden {
    background: url(../images/states/sweden.svg);
}

span.turkey {
    background: url(../images/states/turkey.svg);
}

span.ukraine {
    background: url(../images/states/ukraine.svg);
}

span.usa {
    background: url(../images/states/usa.svg);
}

span.europe {
    background: url(../images/states/uefa.png);
}

span.international {
    background: url(../images/states/globe.png);
}

span.none {
    background-color: lightgrey;
}

span.flag {
    background-size: 22.5px 15px;
    width: 22.5px;
    height: 15px;
    display: block;
    position:relative;
    left:40%;
    /*margin: auto;*/
}
/*END FLAGS*/

a.btn {
    text-overflow: ellipsis;
    overflow: hidden;
}

.modal.fade.in {
    top: 60px !important;
}

tr.sealed {
    background-color: #f2f2f2 !important;
}

tr.active {
    background-color: #daf4d1 !important;
}

i.goneup {
    color: green;
}

i.gonedown {
    color: red;
}

.pagination > li:not(.active):not(:first-child):not(:last-child) {
    display: none !important;
}


/*Chat*/
span.chatline {
    display: block;
}

div.chatcontainer {
    max-height:70vh;
    overflow-y: scroll;
}
#chatTab{
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.21);
    border-radius: 17px;
    border: 2px solid #C38913;
    max-height: 60vh;
}
#clanchatTab{
   
    background: rgba(255, 255, 255, 0.21);
    border-radius: 17px;
    border: 2px solid #C38913;
    max-height: 60vh;
}
#chatTab div.span10.offset1{
    width:80%;
    margin:0 auto;
}
#clanchatTab div.span10.offset1{
    width:80%;
    margin:0 auto;
}
#ixinput3{
    margin-top: 20px;
}
#RemoveRequest{
    margin-top:20px;
    float: right;
    padding:5px;
    width:150px;
    line-height:30px;
    background:rgba(255, 69, 0, 0.81);
    border-radius:5px;
    text-align:center;
    color:white;
    cursor:pointer;
}
.profile{
    background-color:lightgoldenrodyellow;
}