<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <!--
    <add name="cString" connectionString="Server=apollo.sportip.info\FSQLINST;Initial Catalog=Oliver;UID=sp7j86;password=AlienTrackthor55*" providerName="System.Data.SqlClient"/>
    -->
    
    <add name="cString" connectionString="Server=apollo.sportip.info\FSQLINST;Initial Catalog=Samwise;UID=sp7j86;password=AlienTrackthor55*" providerName="System.Data.SqlClient"/>

  </connectionStrings>
</configuration>